# Data
simulation/ptbxl_data/
simulation/results/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.pdf
missfont.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
